[submodule "thirdparty/basis_universal"]
	path = thirdparty/basis_universal
	url = git@github.com:simul/basis_universal.git
[submodule "thirdparty/srt"]
	path = thirdparty/srt
	url = git@github.com:simul/srt.git
[submodule "firstparty/Platform"]
	path = firstparty/Platform
	url = git@github.com:simul/Platform.git
[submodule "libavstream/thirdparty/efp"]
	path = libavstream/thirdparty/efp
	url = git@github.com:simul/efp.git
[submodule "plugins/UnrealDemo"]
	path = plugins/UnrealDemo
	url = git@github.com:simul/teleport-unreal.git
[submodule "thirdparty/draco"]
	path = thirdparty/draco
	url = git@github.com:google/draco.git
[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = git@github.com:ValveSoftware/openvr.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = git@github.com:simul/curl.git
