# IDE Project Files
.vs/
*.user
/pc_client/client.ini
Build
.cxx/
.gradle
.idea
gradle
bin
*.bak
teleport_commit.properties
keystore.properties
*.glsl
*.spirv
*.spv
*.hlsl
*.cso
*.sfxo
*.sfxb
build_docs
build_pc_client
