[submodule "thirdparty/basis_universal"]
	path = thirdparty/basis_universal
	url = ../basis_universal.git
[submodule "libavstream/thirdparty/efp"]
	path = libavstream/thirdparty/efp
	url = ../efp.git
[submodule "thirdparty/draco"]
	path = thirdparty/draco
	url = https://github.com/google/draco.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = ../zlib.git
[submodule "thirdparty/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = ../cpp-httplib.git
[submodule "firstparty/teleport-unity"]
	path = firstparty/teleport-unity
	url = ../teleport-unity.git
[submodule "libavstream/thirdparty/curl"]
	path = libavstream/thirdparty/curl
	url = ../curl.git
[submodule "thirdparty/websocketpp"]
	path = thirdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "firstparty/Platform"]
	path = firstparty/Platform
	url = ../Platform.git
[submodule "plugins/UnrealDemo"]
	path = plugins/UnrealDemo
	url = ../teleport-unreal.git
[submodule "thirdparty/libdatachannel"]
	path = thirdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "thirdparty/oboe"]
	path = thirdparty/oboe
	url = https://github.com/google/oboe.git
[submodule "thirdparty/flecs"]
	path = thirdparty/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "firstparty/teleport-unreal"]
	path = firstparty/teleport-unreal
	url = https://github.com/simul/teleport-unreal.git
